<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Printout</title>
        <%- include("components/head") %>
        <style>
            /* .container {
                max-width: 600px;
            } */

            #metadata-button.collapsed .hide {
                display: none;
            }
            #metadata-button:not(.collapsed) .show {
                display: none;
            }
        </style>
    </head>
    <body>
        <%- include("components/header", { page: page }) %>

        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <h4>Feed</h4>
                    <p>The feed link is: <code><%= feed_link %></code>.</p>
                    <a href="<%= feed_link %>" class="btn btn-primary">Add Feed</a>
                </div>
            </div>
        </div>
        <%- include("components/body-footer") %>
    </body>
</html>